@import 'calendar-view';
@import 'list-view';
@import 'masonry-view';

.layout-toggle-buttons {
  text-align: center;

  button {
    border: 1px solid #333;
    margin: 0 .125rem;
  }

  .selected {
    border-color: #ccc;
  }
}

.picture {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #ccc;
  text-decoration: none;
}

.title {
  display: inline-block;
  font-family: 'Aldrich';
}