<div *ngIf="pictureService.pictures">
  <div class="layout-toggle-buttons">
    <button (click)="viewType='calendar'" [class.selected]="(viewType == 'calendar')">Calendar</button>
    <button (click)="viewType='list'" [class.selected]="(viewType == 'list')">List</button>
    <button (click)="viewType='masonry'" [class.selected]="(viewType == 'masonry')">Grid</button>
  </div>
  <div class="pictures {{viewType}}">
    <ng-container *ngIf="viewType == 'calendar'">
      <div *ngFor="let i of getEmptyFillerDays()" class="picture empty-date"></div>
      <div *ngFor="let i of getStartFillerDays()" class="picture past-date">
        <div class="detail date">{{i}}</div>
      </div>
    </ng-container>
    <div *ngFor="let picture of pictureService.pictures" 
        (click)="pictureDetail.setPicture(picture)" 
        class="picture"
        [class.video]="(picture.media_type == 'video')"
        [class.selected]="picture === pictureDetail.picture" 
        [style.background-image]="(picture.media_type == 'image' && viewType == 'calendar') ? 'url(' + picture.url + ')' : null">
      <ng-container *ngIf="viewType == 'masonry' && picture.media_type == 'image'">
        <img *ngIf="viewType == 'masonry'" alt="{{picture.title}}" src="{{picture.url}}" />
        <h3 class="title">{{picture.title}}</h3>
      </ng-container>
      <div *ngIf="viewType == 'list'" class="detail date">{{picture.date | date}}</div>
      <div *ngIf="viewType == 'calendar'" class="detail date">{{picture.date | date:'d'}}</div>
      <h3 *ngIf="viewType == 'list' || viewType == 'calendar'" class="detail title">{{picture.title}}</h3>
      <div *ngIf="viewType == 'list'" class="detail media-type">{{picture.media_type}}</div>
    </div>
    <ng-container *ngIf="viewType == 'calendar'">
      <div *ngFor="let i of getEndFillerDays()" class="picture future-date">
        <div class="detail date">{{i}}</div>
      </div>
    </ng-container>
  </div>

  <app-picture-modal #pictureDetail></app-picture-modal>
</div>